body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
}

#login-form label {
    margin-bottom: 5px;
}

#login-form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#login-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #0056b3;
}

#main-container {
    display: flex;
    height: 100vh;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #007bff;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar ul li {
    position: relative;
}

#sidebar ul li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 20px;
    text-decoration: none;
}

#sidebar ul li a:hover {
    background-color: #0056b3;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 250px;
    top: 0;
    background-color: #000000;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    text-align: center;
}

#registro-cartuchos-form, #consulta-cartuchos-form {
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
}

#registro-cartuchos-form label, #consulta-cartuchos-form label {
    display: block;
    margin-top: 10px;
}

#registro-cartuchos-form input, #consulta-cartuchos-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#registro-cartuchos-form button, #consulta-cartuchos-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#registro-cartuchos-form button:hover, #consulta-cartuchos-form button:hover {
    background-color: #0056b3;
}

#consulta-resultados {
    margin-top: 20px;
}
